<!DOCTYPE html>
<html>

<head>
  <title>How Likely Are You to Have Diabetes?</title>
  <meta charset="UTF-8">
  <style>
    body {
      background-color: #ccf3ff;
    }

    p, li {
      font-size: 14px;
    }

    h1 {
      text-align: center;
      font-size: 25px;
    }

    p {
      width: 75%;
    }

    .disclaimer {
      text-align: Center;
      font-size: 17px;
    }

    .btn {
      text-align: center;
      font-size: 27px;
      border-width: 3px;
      border-style: solid;
      transition: background-color 0.3s, transform 0.2s;
    }

    .btn:hover {
      background-color: #2980b9;
      transform: scale(1.1);
    }

    h1 {
      font-size: 40px;
    }

    .columns {
      column-count: 3; /* Number of columns */
      column-gap: 20px;
    }

    .columns > div {
      break-inside: avoid-column; /* Prevent breaking content inside a div between columns */
      margin-bottom: 20px; /* Add some space at the bottom of each question */
    }
    .output {
      font-size: 30px;
      color: blue;
    }
  </style>
</head>

<body>
  <h1><u>Diabetes Risk Analyzer</u></h1>
  <h3><u>Please input your lifestyle markers</u></h3>

  <form class="columns" action="/" method="POST">
    <div>
      <p>Do you have high blood pressure?</p>
      <input type="radio" id="BP_yes" name="BP" value="Yes" {% if form_data.BP == 1 %} checked {% endif %}> Yes
      <input type="radio" id="BP_no" name="BP" value="No" {% if form_data.BP == 0 %} checked {% endif %}> No
    </div>

    <div>
      <p>Do you have high cholesterol?</p>
      <input type="radio" id="HC_yes" name="HC" value="Yes" {% if form_data.HC == 1 %} checked {% endif %}> Yes
      <input type="radio" id="HC_no" name="HC" value="No" {% if form_data.HC == 0 %} checked {% endif %}> No
    </div>

    <div>
      <p>Have you had a cholesterol check in the last 5 years?</p>
      <input type="radio" id="CC_yes" name="CC" value="Yes" {% if form_data.CC == 1 %} checked {% endif %}> Yes
      <input type="radio" id="CC_no" name="CC" value="No" {% if form_data.CC == 0 %} checked {% endif %}> No
    </div>

    <div>
      <p>What is your BMI?</p>
      <input type="number" placeholder="Enter" name="BMI" id="BMI" step="any" value="{{ form_data.BMI }}">
    </div>

    <div>
      <p>Do you smoke often (>100 cigarettes in your lifespan)?</p>
      <input type="radio" id="SM_yes" name="SM" value="Yes" {% if form_data.SM == 1 %} checked {% endif %}> Yes
      <input type="radio" id="SM_no" name="SM" value="No" {% if form_data.SM == 0 %} checked {% endif %}> No
    </div>

    <div>
      <p>Have you ever had a stroke?</p>
      <input type="radio" id="ST_yes" name="ST" value="Yes" {% if form_data.ST == 1 %} checked {% endif %}> Yes
      <input type="radio" id="ST_no" name="ST" value="No" {% if form_data.ST == 0 %} checked {% endif %}> No
    </div>

    <div>
      <p>Do you have coronary heart disease or a myocardial infarction?</p>
      <input type="radio" id="HD_yes" name="HD" value="Yes" {% if form_data.HD == 1 %} checked {% endif %}> Yes
      <input type="radio" id="HD_no" name="HD" value="No" {% if form_data.HD == 0 %} checked {% endif %}> No
    </div>

    <div>
      <p>Have you exercised in the last 30 days (not including your job)?</p>
      <input type="radio" id="EX_yes" name="EX" value="Yes" {% if form_data.EX == 1 %} checked {% endif %}> Yes
      <input type="radio" id="EX_no" name="EX" value="No" {% if form_data.EX == 0 %} checked {% endif %}> No
    </div>

    <div>
      <p>Do you consume fruit every day?</p>
      <input type="radio" id="FR_yes" name="FR" value="Yes" {% if form_data.FR == 1 %} checked {% endif %}> Yes
      <input type="radio" id="FR_no" name="FR" value="No" {% if form_data.FR == 0 %} checked {% endif %}> No
    </div>

    <div>
      <p>Do you consume vegetables every day?</p>
      <input type="radio" id="VE_yes" name="VE" value="Yes" {% if form_data.VE == 1 %} checked {% endif %}> Yes
      <input type="radio" id="VE_no" name="VE" value="No" {% if form_data.VE == 0 %} checked {% endif %}> No
    </div>

    <div>
      <p>Are you a heavy drinker?</p>
      <input type="radio" id="DR_yes" name="DR" value="Yes" {% if form_data.DR == 1 %} checked {% endif %}> Yes
      <input type="radio" id="DR_no" name="DR" value="No" {% if form_data.DR == 0 %} checked {% endif %}> No
    </div>

    <div>
      <p>Do you have healthcare coverage?</p>
      <input type="radio" id="CO_yes" name="CO" value="Yes" {% if form_data.CO == 1 %} checked {% endif %}> Yes
      <input type="radio" id="CO_no" name="CO" value="No" {% if form_data.CO == 0 %} checked {% endif %}> No
    </div>

    <div>
      <p>Was there a time in the past 12 months where you had to see a doctor, but couldn't due to cost?</p>
      <input type="radio" id="ND_yes" name="ND" value="Yes" {% if form_data.ND == 1 %} checked {% endif %}> Yes
      <input type="radio" id="ND_no" name="ND" value="No" {% if form_data.ND == 0 %} checked {% endif %}> No
    </div>

    <div>
      <p>On a scale of 1-5, how would you rank your health? (1=excellent, 5=poor)</p>
      <input type="number" placeholder="Enter" name="RH" id="RH" step="any" value="{{ form_data.RH }}">
    </div>

    <div>
      <p>For how many days was your mental health not good over the past 30 days?</p>
      <input type="number" placeholder="Enter" name="MH" id="MH" step="any" value="{{ form_data.MH }}">
    </div>

    <div>
      <p>For how many days was your physical health (including injury and illness) not good? (1-30 days)</p>
      <input type="number" placeholder="Enter" name="PH" id="PH" step="any" value="{{ form_data.PH }}">
    </div>

    <div>
      <p>Do you have serious difficulty walking?</p>
      <input type="radio" id="DW_yes" name="DW" value="Yes" {% if form_data.DW == 1 %} checked {% endif %}> Yes
      <input type="radio" id="DW_no" name="DW" value="No" {% if form_data.DW == 0 %} checked {% endif %}> No
    </div>

    <div>
      <p>What is your gender?</p>
      <select name="level0" id="level0">
        <option value="male" {% if form_data.level0 == 'male' %} selected {% endif %}>Male</option>
        <option value="female" {% if form_data.level0 == 'female' %} selected {% endif %}>Female</option>
      </select>
    </div>

    <div>
      <p>What is your age?</p>
      <select name="level" id="level">
        <option value="1" {% if form_data.level == '1' %} selected {% endif %}>18-24</option>
        <option value="2" {% if form_data.level == '2' %} selected {% endif %}>25-29</option>
        <option value="3" {% if form_data.level == '3' %} selected {% endif %}>30-34</option>
        <option value="4" {% if form_data.level == '4' %} selected {% endif %}>35-39</option>
        <option value="5" {% if form_data.level == '5' %} selected {% endif %}>40-44</option>
        <option value="6" {% if form_data.level == '6' %} selected {% endif %}>45-49</option>
        <option value="7" {% if form_data.level == '7' %} selected {% endif %}>50-54</option>
        <option value="8" {% if form_data.level == '8' %} selected {% endif %}>55-59</option>
        <option value="9" {% if form_data.level == '9' %} selected {% endif %}>60-64</option>
        <option value="10" {% if form_data.level == '10' %} selected {% endif %}>65-69</option>
        <option value="11" {% if form_data.level == '11' %} selected {% endif %}>70-74</option>
        <option value="12" {% if form_data.level == '12' %} selected {% endif %}>74-79</option>
        <option value="13" {% if form_data.level == '13' %} selected {% endif %}>80 or older</option>
      </select>
    </div>

    <div>
      <p>What is your education level?</p>
      <select name="level2" id="level2">
        <option value="1" {% if form_data.level2 == '1' %} selected {% endif %}>No school</option>
        <option value="2" {% if form_data.level2 == '2' %} selected {% endif %}>Ended at elementary or middle school</option>
        <option value="3" {% if form_data.level2 == '3' %} selected {% endif %}>Some level of high school</option>
        <option value="4" {% if form_data.level2 == '4' %} selected {% endif %}>High school graduate</option>
        <option value="5" {% if form_data.level2 == '5' %} selected {% endif %}>Some college</option>
        <option value="6" {% if form_data.level2 == '6' %} selected {% endif %}>College graduate</option>
      </select>
    </div>

    <div>
      <p>What is your income?</p>
      <select name="level3" id="level3">
        <option value="1" {% if form_data.level3 == '1' %} selected {% endif %}>$10k or less</option>
        <option value="2" {% if form_data.level3 == '2' %} selected {% endif %}>$10k-$15k</option>
        <option value="3" {% if form_data.level3 == '3' %} selected {% endif %}>$15k-$20k</option>
        <option value="4" {% if form_data.level3 == '4' %} selected {% endif %}>$20k-$25k</option>
        <option value="5" {% if form_data.level3 == '5' %} selected {% endif %}>$25k-$35k</option>
        <option value="6" {% if form_data.level3 == '6' %} selected {% endif %}>$35k-$50k</option>
        <option value="7" {% if form_data.level3 == '7' %} selected {% endif %}>$50k-$75k</option>
        <option value="8" {% if form_data.level3 == '8' %} selected {% endif %}>$75k or more</option>
      </select>
    </div>

    <br><br>
    <button type="submit" class="btn"><b>Submit</b></button>
    <br>
    <h4 class="output">{{ input_values }}</h4>
  </form>

  <p class="disclaimer">Disclaimer: This is NOT medical advice. Please consult your medical provider for diagnosis and treatment. </p>
  <p>Made by Ayush Srivastava</p>

</body>

</html>